---
layout: default
#// nope here
---

<div class="home">
  <div class="post">

    {% for post in paginator.posts %}

    <header class="post-header">
      <h1 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      <p class="post-meta">
      {{ site.locales[site.default_locale].PostedInCategories }}
      {% for cat in post.categories %}
      <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
      {% endfor %}
      {% if post.tags != empty %}
      {{ site.locales[site.default_locale].Taggedwith }}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless post.tags.last == tag %}, {% endunless %}
      {% endfor %}
      {% endif %}
      {{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
      </p>
    </header>


     <hr />

    {% endfor %}

  </div>
</div>
